.footer{
    background-color: white;
    padding-bottom: 1rem;
}

.footer a {
  padding: 1.5rem 1rem 0.7rem 1rem;
  border: 5px solid transparent;
  border-radius: 5rem;
  transition: border 0.2s ease;
}

.footer a:hover {
  border: 5px solid black;
}