.about {
    padding: 60px 0;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-pic {
    width: 200px;
    border-radius: 10px;
}

.download-cv {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background: #facc15;
    color: #0d1117;
    text-decoration: none;
    border-radius: 5px;
}

.about .firstLi{
    margin-bottom: 0.5rem;
}
.about .lastLi{
    margin-top: 0.5rem;
}

